<form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="form-group col-md-6">
            <label class="form-control-label" for="title">Titel</label>
            <input type="text" class="form-control" id="title" formControlName="title" />
        </div>

        <div class="form-group col-md-6">
            <label class="form-control-label" for="description">Description</label>
            <textarea class="form-control" id="description" formControlName="description"></textarea>
        </div>

        <div class="form-group col-md-6">
            <label class="form-control-label" for="status">Status</label>
            <select class="form-control" formControlName="status">
                    <option [value]=0>Pending</option>
                    <option [value]=1>InProgress</option>
                    <option [value]=2>Complete</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label class="form-control-label" for="priority">Priority</label>
            <select class="form-control" formControlName="priority">
                    <option [value]=0>Low</option>
                    <option [value]=1>Medium</option>
                    <option [value]=2>High</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label class="form-control-label" for="dueDate">DueDate</label>
            <input class="form-control" id="dueDate"  formControlName="dueDate" type="date">
        </div>
        
    </div>
    <button class="btn btn-primary" [disabled]="!todoForm.valid" type="submit">Add Todo</button>
    <button class="btn btn-secondary" (click)="back()">Back</button>
</form>